# Scott Breitbach
## 16-March-2021
## DSC550, Week 1

In [1]:
import numpy as np
import pandas as pd

np.random.seed(42)

# 1.2 Exercise: Working with Arrays

### 2D Arrays

1) Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive).

In [2]:
# nrows = 3
# ncols = 2
nrows = 10
ncols = 50
size = nrows * ncols

In [3]:
array = np.random.randint(1, 501, size).reshape(nrows, ncols)
array

array([[103, 436, 349, 271, 107,  72, 189,  21, 103, 122, 467, 215, 331,
        459,  88, 373, 100, 360, 152, 131, 150, 309, 258, 344, 492, 414,
        294, 386, 192, 444, 277, 161, 460, 314,  22, 253, 236, 345,  49,
        475,  59, 170, 476, 188, 464, 271, 190, 446, 175, 446],
       [ 51, 364,  55, 244, 320, 131, 485, 307, 135,  21, 329, 167, 274,
        388,  89, 316,  14, 242, 265, 346,  53, 386, 340,  92, 367, 444,
        455, 428, 264, 431,  35, 206,  81, 420,  50, 360, 388,   2, 390,
         54, 106, 260, 310, 477, 191, 402, 218,  44, 162, 202],
       [446, 484, 270, 351, 304, 271, 456, 462, 215, 252, 190, 296, 213,
        208, 237, 338, 367,  53, 280, 410, 217, 252, 188, 380, 493,  41,
        157,  15, 301,  65, 345, 327,   9, 344, 129, 492, 136, 472,  63,
        139, 499,  81, 392, 163, 419, 289, 379, 261, 490, 231],
       [ 41,  28, 135, 201, 328, 268, 418,  33,  48, 407,  62, 216, 293,
         99, 172, 360, 214, 475,  35, 449, 227, 101, 431, 462, 131, 257,
          5, 218, 255, 398, 359, 283, 393, 207,  15, 346,  42, 380, 461,
        179,  63, 352, 231, 241,  52,  96, 388, 222, 485, 407],
       [231, 237, 143, 171,  29,  36,  13, 160, 327, 187, 243,  86, 284,
         66, 170,  45,  62, 441, 134, 284,  28, 108,  44, 340, 286, 446,
        331, 128, 348, 473, 231, 190, 225, 385, 377, 283, 446, 121, 116,
        461, 233, 259, 359, 198, 456, 411, 137, 318, 165, 225],
       [307, 234, 172, 152, 463, 315, 374, 160,  96, 472, 233, 180, 113,
        318, 497, 442,  52, 268, 295, 386, 387, 113, 101, 113, 440,  81,
        187, 113,   2, 130, 220,  54, 343, 485, 224, 225, 385, 403, 126,
        130,  53, 172, 218, 160, 198, 416, 247, 324, 439, 203],
       [184, 123, 401, 255, 294, 280, 325, 372,  98, 198, 470, 395, 240,
        144,  97, 201, 124, 187, 326, 464, 349, 259, 148, 252, 443, 420,
        403, 346, 451, 147, 148, 352, 199, 308, 489, 417, 424, 128,  39,
        338, 360, 129, 267, 476, 441, 473, 434, 151, 415, 478],
       [298,  99, 263, 252, 144, 346, 112, 500,  60, 369,   2, 385, 304,
        254, 140, 453,  37, 160,   9, 233,  99, 147, 304, 208, 131, 404,
        152,  54, 120, 161, 408, 116,  75, 113, 456, 420, 422, 104, 340,
        254, 227, 112, 473,  99, 153, 349, 402, 384, 366, 338],
       [194, 310, 163, 208, 445, 169, 484, 161,  68, 289, 398, 277, 304,
        404, 384, 392, 135, 195, 401, 128,  33, 176, 460, 443, 371, 470,
        375,  22, 238, 158,  38, 230, 365,  51, 438, 264, 283,  27, 226,
        277, 286,  97, 284, 367, 448, 481, 453, 317, 304, 147],
       [  4,  35, 192,  49,  17, 172, 220, 158, 477,  46, 373,   6,  99,
        380, 233,  37, 280, 349, 497, 302, 181,  95,  99, 188, 481, 116,
        191, 253, 469, 416, 471, 161, 256, 323, 128,  18, 281, 490, 223,
         54,  58, 323, 360, 174, 280, 114, 288, 431, 342, 151]])

Load it to a DataFrame

In [4]:
df = pd.DataFrame(array)
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,103,436,349,271,107,72,189,21,103,122,...,59,170,476,188,464,271,190,446,175,446
1,51,364,55,244,320,131,485,307,135,21,...,106,260,310,477,191,402,218,44,162,202
2,446,484,270,351,304,271,456,462,215,252,...,499,81,392,163,419,289,379,261,490,231
3,41,28,135,201,328,268,418,33,48,407,...,63,352,231,241,52,96,388,222,485,407
4,231,237,143,171,29,36,13,160,327,187,...,233,259,359,198,456,411,137,318,165,225
5,307,234,172,152,463,315,374,160,96,472,...,53,172,218,160,198,416,247,324,439,203
6,184,123,401,255,294,280,325,372,98,198,...,360,129,267,476,441,473,434,151,415,478
7,298,99,263,252,144,346,112,500,60,369,...,227,112,473,99,153,349,402,384,366,338
8,194,310,163,208,445,169,484,161,68,289,...,286,97,284,367,448,481,453,317,304,147
9,4,35,192,49,17,172,220,158,477,46,...,58,323,360,174,280,114,288,431,342,151

2) Calculate the sum of each row

In [5]:
# print("Sum of Row:")
# df.sum(axis=1)

In [6]:
print("Sum of each row:")
np.sum(array, axis=1)

Sum of each row:

array([13209, 12161, 13872, 11969, 11477, 12221, 14862, 11811, 13638,
       11341])

The sum of each column

In [7]:
# print("Sum of Column:")
# df.sum()

In [8]:
print("Sum of each column:")
np.sum(array, axis=0)

Sum of each column:

array([1859, 2350, 2143, 2154, 2451, 2060, 3076, 2334, 1627, 2363, 2767,
       2223, 2455, 2720, 2107, 2957, 1385, 2730, 2394, 3133, 1724, 1946,
       2373, 2822, 3635, 3093, 2550, 1963, 2640, 2823, 2532, 2080, 2406,
       2950, 2328, 3078, 3043, 2472, 2033, 2361, 1944, 1955, 3370, 2543,
       3102, 3302, 3136, 2898, 3343, 2828])

The sum of all entries

In [9]:
print("Sum of entire matrix:")
np.sum(array)

Sum of entire matrix:

126561

3) Determine the minimum of all entries

In [10]:
print("Smallest number in the matrix:")
np.min(array)

Smallest number in the matrix:

2

Maximum

In [11]:
print("Largest number in the matrix:")
np.max(array)

Largest number in the matrix:

500

Average

In [12]:
print("Average of all entries:")
np.mean(array).round(2)

Average of all entries:

253.12

Standard deviation

In [13]:
np.std(array).round(2)

140.92

4) Sort the Dataframe  
a) sort on column 2

In [14]:
df.sort_values(by=1, axis=0, ascending=True)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
3,41,28,135,201,328,268,418,33,48,407,...,63,352,231,241,52,96,388,222,485,407
9,4,35,192,49,17,172,220,158,477,46,...,58,323,360,174,280,114,288,431,342,151
7,298,99,263,252,144,346,112,500,60,369,...,227,112,473,99,153,349,402,384,366,338
6,184,123,401,255,294,280,325,372,98,198,...,360,129,267,476,441,473,434,151,415,478
5,307,234,172,152,463,315,374,160,96,472,...,53,172,218,160,198,416,247,324,439,203
4,231,237,143,171,29,36,13,160,327,187,...,233,259,359,198,456,411,137,318,165,225
8,194,310,163,208,445,169,484,161,68,289,...,286,97,284,367,448,481,453,317,304,147
1,51,364,55,244,320,131,485,307,135,21,...,106,260,310,477,191,402,218,44,162,202
0,103,436,349,271,107,72,189,21,103,122,...,59,170,476,188,464,271,190,446,175,446
2,446,484,270,351,304,271,456,462,215,252,...,499,81,392,163,419,289,379,261,490,231

b) sort on row 2

In [15]:
df.sort_values(by=1, axis=1, ascending=True)

,37,16,9,30,47,34,0,20,39,2,...,13,38,45,33,27,29,25,26,43,6
0,345,100,122,277,446,22,103,150,475,349,...,459,49,271,314,386,444,414,294,188,189
1,2,14,21,35,44,50,51,53,54,55,...,388,390,402,420,428,431,444,455,477,485
2,472,367,252,345,261,129,446,217,139,270,...,208,63,289,344,15,65,41,157,163,456
3,380,214,407,359,222,15,41,227,179,135,...,99,461,96,207,218,398,257,5,241,418
4,121,62,187,231,318,377,231,28,461,143,...,66,116,411,385,128,473,446,331,198,13
5,403,52,472,220,324,224,307,387,130,172,...,318,126,416,485,113,130,81,187,160,374
6,128,124,198,148,151,489,184,349,338,401,...,144,39,473,308,346,147,420,403,476,325
7,104,37,369,408,384,456,298,99,254,263,...,254,340,349,113,54,161,404,152,99,112
8,27,135,289,38,317,438,194,33,277,163,...,404,226,481,51,22,158,470,375,367,484
9,490,280,46,471,431,128,4,181,54,192,...,380,223,114,323,253,416,116,191,174,220